html {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 1.5px;
    font-size: 15px;
    text-align: center;
    position:absolute;
    display:table;
}
body {
    background-color: black;
    color:aliceblue;
}
html, body {
    min-height: 100vh;
}
body::after {
    content: "";
    background-image: url(../images/stars.png);
    opacity: 0.7;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    background-size: contain;
}
table {
    vertical-align: center;
    border-collapse:collapse;
    text-shadow: 1px 1px 1px black;
}
caption {
    font-size: 1.5em;
    padding: 15px;
    letter-spacing: 1px;
    text-shadow: 0.5px 0.5px rgb(0,107,71);
}
th {
    border: 2px solid rgb(74, 212, 185);
    background-color: rgb(4,117,80);
    opacity: 0.9;
    font-size: 1.3em;
    padding: 15px;
}
td {
    border: 1px solid rgb(74, 212, 185);
    background-color: rgb(0,153,101);
    opacity: 0.9;
    font-size: 1.2em;
    padding: 15px;
}
tr:nth-child(odd) td {
    background-color: rgb(0,198,132);
}
a:link, a:visited {
    color:rgb(161, 248, 144);
}